* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
}



/* header nav start */

/* sticky navigation */


.header {
    position: relative;
    top: 0; 
    display: flex;
    align-items: center;
    height: 9.8rem;
    justify-content: space-between;
    background-color: #fcf2e9;
    padding: 0 4rem;
    z-index: 1000; 
}

.sticky .header{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255, .97);
z-index: 9999;
height: 8rem;
padding-top: 0;
padding-bottom: 0;
box-shadow: 0 1.2rem 3.2rem  rgba(0, 0, 0, .03);
transition: background-color 0.3s ease, height 0.3s ease; 
}


.sticky .hero-section{
    margin-top: 9.6rem;
}

.logo{
    height: 2.4rem;
}

.main-nav-links:link,
.main-nav-links:visited{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    color: #333;
    transition: all .3s;
}

.main-nav-links:hover,
.main-nav-links:active{
color: #cf711f;
}


.main-nav-list{
display: flex;
list-style: none;
gap: 3.2rem;
align-items: center;

}

.main-nav-links.nav-cta:link,
.main-nav-links.nav-cta:visited{
    color: #fff;
    background: #e67e22;
    padding: 1.2rem 2.4rem;
    border-radius:9px ;
}

.main-nav-links.nav-cta:hover,
.main-nav-links.nav-cta:active{
background:#cf711f;
}


/* mobile */

.btn-mbl-nav{
    border: none;
    background:none;
    display: none;

}
.icon-mbl-nav{
    height: 4.8rem;
    width: 4.8rem;
    color: #242323;
}
.icon-mbl-nav[name="close-outline"]{
    display: none;
 
}


/* start section-hero */

.hero-section {
    background-color: #fcf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    gap: 9.6rem;
    padding: 0 3.2rem;
}

.hero-img {
    width: 100%;
}
.heading-primary,
.heading-secondary{
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
}

.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.2rem;
}




.delivered-meals {
    display: flex;
    align-items: center;
    margin-top: 7rem;
    gap: 2rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    border-radius: 50%;
    height: 4.8rem;
    width: 4.8rem;
    margin-right: -1.6rem;
    border: 3px solid #fcf2e9;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}
.delivered-text span{
    color: #cf711f;
    font-weight: 700;
}
.delivered-imgs img:last-child {
    margin-right: 0;
}


/* section-how */

.section-how{
    padding: 9.6rem 0;

}

.step-img{
    width: 35%;
}
.heading-secondary{
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom:9.8rem ;
   
}
.subheading{
    display: block;
    font-size: 2rem;
font-weight: 500;
color: #cf711f;
text-transform: uppercase;
margin-bottom:1.6rem ;
letter-spacing: .75px;

}
.step-number{
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
}

.step-img-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-description{
    font-size: 2rem;
    line-height: 1.8;
}

.grid--center-v{
    align-self: center;
   
}

.step-img-box::before{
width: 60%;
padding-bottom: 60%;
background-color: #fdf2e9;
z-index: -2;
}

.step-img-box::before,
.step-img-box::after{
    content: "";
width: 60%;
padding-bottom: 60%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

border-radius: 50%;
}

.step-img-box::after{
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
    }
    /* start feature logo  */
.section-featured{
    padding: 4.8rem 0 3.2rem 0;
}
    .heading-featured-in{
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: .75px;
        text-align: center;
margin-bottom: 2.4rem;
color: #888;
    }

    .logos {
        display: flex;
        justify-content: space-around;
    }
    .logos img{
        height: 3.2rem;
        filter: brightness(0);
        opacity: 50%;

    }

/* section-meals */

.section-meals{
    padding: 9.6rem 0;

}
.meal-img{
    width: 100%;
}
.meal-title{
    font-size: 2rem;
    color: #333;
    font-weight: 600;

margin-bottom: 2rem;

}
.meal-attributes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.meal-attribute{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    
}
.meal-icon{
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.tag{
    display: inline-block;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #242323;
    background-color: rgb(27, 226, 27);
    border-radius: 100px;
    font-weight: 600;
    
}
.meal-tag{
    margin-bottom:1.2rem ;
}
.meal{
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all ease .4s;
}
.meal-content{
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.tag--vegetarian{
    background-color: rgb(88, 247, 88);

}
.tag--vegan{
    background-color: rgb(0, 202, 0);

}
.tag--paleo{
    background-color: rgb(255, 195, 66);

}



.all-recipes{
    text-align: center;
    font-size: 1.8rem;
    
}
.all-recipes:hover{
    border-bottom: none;
}

.meal:hover{
    transform: translateY(-1.2rem);
    box-shadow: 0 3.4rem 6.8rem rgba(0, 0, 0, 0.15);

}


/* start testimonial section */


.testimonials{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    row-gap: 4.8rem;
    column-gap: 8rem;

}
.testimonial-img {
    border-radius: 50%;
    width: 6.4rem;
    margin-bottom: 1.8rem;
}
.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}
.testimonial-name{
    font-size: 1.6rem;
    color: #777;
}



/* start gallery */
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
  
}

.gallery-items img {
    width:100%;
    display: block;
    transition: all .4s;
}

.section-testimonials{
    display: grid;
    grid-template-columns: 55fr 45fr;
background:#fcf2e9;
align-items: center;
}

.testimonial-container{
    padding: 9.8rem ;
}
.gallery-items img:hover{
    transform: scale(1.1);

}
.gallery-items{
    overflow: hidden;
}



/* start pricing section */


.section-pricing{
   
        padding: 9.6rem 0;
    
}
.plan-header{

    text-align: center;
    margin-bottom: 4.8rem;
}
.plan-name{
color: #cf711f;
font-weight: 600;
font-size: 2rem;
text-transform: uppercase;
letter-spacing: .75;
margin-bottom: 3.2rem;

}
.plan-text{
font-size: 1.6rem;
line-height: 1.6;
color: #888;
}
.plan-price{
font-size: 6.2rem;
font-weight: 600;
color: #333;
margin-bottom:1.6rem ;
}

.plan-price span{
    font-size:3rem ;
    font-weight: 500;
    margin-right: .8rem;
}
.plan-sign-up{
    margin-top: 2rem;
    text-align: center;
}

.pricing-plan--stater{
    justify-self: end;
    padding: 4.6rem;
    border: 2px solid #fae5d3;
}

.pricing-plan{
 
    width: 75%;
    border-radius: 11px;
    
}


.starting-plan-complete{
    background:#fcf2e9;
    padding: 4.8rem;
    position: relative;
    overflow: hidden;
}

.starting-plan-complete::after{
    content: "Best Value";
    text-transform: uppercase;
    background:#fad504;
    color: #242323;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
    position: absolute;
    top: 6%;
    right: -18%;
}
.feature-icon{
    color: #e67e22;
    height: 3.2rem;
    width: 3.2rem;
    padding:1.6rem ;
    border-radius: 50%;
    margin-bottom: 3.2rem;
    background-color:#fcf2e9;
}
.feature-title{
    font-size: 2.4rem;
    color: #333;
    margin-bottom: 1.6rem;
    font-weight: 700;
  
}
.feature-text{
    font-size: 1.8rem;
    line-height: 1.8;
}
.plan-details{
font-size: 1.6rem;
text-align: center;
line-height: 1.6;
margin-bottom: 9.8rem;
}


/* start cta section */


.cta{
background-image: linear-gradient(to right bottom , #e67e22 , #eb984e);
/* height: 50rem; */
display: grid;
grid-template-columns: 2fr 1fr;
border-radius: 13px;
overflow: hidden;
}
.cta-text-box{
padding: 4.8rem 6.4rem 6.4rem 6.4rem;
color: #45260a;
}
.cta .heading-secondary{
    color: #45260a;
    margin-bottom: 3.2rem;
}
.cta-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

 
.cta-img-box {
    background-image: linear-gradient(to right bottom, rgba(255, 147, 52, 0.3), rgba(252, 141, 45, 0.3)), 
                      url('../img/eating.jpg');
    background-size: cover;
    background-position: center;
   
 
}


.cta-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 3.2rem;
    column-gap: 2.4rem;
   
}

.cta-form label{
    display: block;
    font-size:1.6rem ;
    font-weight:500 ;
    margin-bottom: 1.2rem;
}
.cta-form select{
    font-family: inherit;

}
.cta-form input,
.cta-form select{
font-family: inherit;
padding: 1.2rem;
width: 100%;
font-size: 1.8rem;
border: none;
background-color: #fdf2e9;
border-radius: 9px;
color:inherit;
box-shadow: 0 1px 2px rgba(0, 0, 0, .1);


}
.section-cta{
    padding:4.8rem 0 12.8rem ;
}
.cta *:focus{
    outline: none;
    box-shadow: 0 0 0 .8rem rgba(255, 255, 255, 0.5);
}


/* footer start */


.footer{
    padding: 12.8rem 0;
    
    border-top: 1px solid #ececec;

}
.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}
.footer-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

}
.footer-link:link,
.footer-link:visited{
    text-decoration: none;
    font-size: 1.6rem;
    color: #777;
    transition: all .3s;

}


.footer-link:hover,
.footer-link:active{
color: #242323;
}


.social-link{
list-style: none;
display: flex;
gap: 2.4rem;
margin-top: 2rem;
}
.social-icon{
height: 2.4rem;
width: 2.4rem;
}
.copyright{
    font-size: 1.4rem;
    color: #333;
    line-height: 1.6;
    margin-top: auto;
}
.logo-col{
    display: flex;
    flex-direction: column;
    color: #333;
    
}
.footer-logo{
margin-bottom: 3.2rem;
}
.contact{
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}
.address{
    margin-bottom: 2.4rem;
}


/* back to top arrow  */

/* Back to top button styling */
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: white;
    color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    display: none; /* Hidden initially */
    transition: all 0.3s ease;
}

/* Hover effect */
.back-to-top:hover {
    background-color: orange;
    color: white;
}

/* Optional box-shadow for a nice effect */
.back-to-top {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
